

<ion-content [fullscreen]="true" class="login-content">
  <div class="cloud cloud-top-left"></div>
  <div class="cloud cloud-top-right"></div>
  <div class="cloud cloud-bottom-left"></div>
  <div class="cloud cloud-bottom-right"></div>
  <div class="login-card">
    <img src="assets/dragon.png" alt="MoodMate Dragon Mascot" class="dragon-mascot" />
    <h1 class="app-title">MoodMate</h1>
    <p class="app-message">Your companion for emotional well-being.</p>
    <ion-button expand="block" class="get-started-btn" color="primary" routerLink="/home">
      Get Started
    </ion-button>
  </div>
</ion-content>
