<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-select label="Mood" labelPlacement="floating" placeholder="Select Mood">
        <ion-select-option value="happy">Happy</ion-select-option>
        <ion-select-option value="sad">Sad</ion-select-option>
        <ion-select-option value="angry">Angry</ion-select-option>
        <ion-select-option value="anxious">Anxious</ion-select-option>
        <ion-select-option value="grateful">Grateful</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
    <ion-icon name="save-outline"></ion-icon>
    Save Entry
</ion-content>